/Mobile-Edu/target/
/ServidorSocket/nbproject/private/
/CifraDeCesar/nbproject/private/
/Sistema/Templates-TCC/target/
/Sistema/Entidades/target/
/Sistema/Service/target/
/Sistema/GUI-TCC/target/
/Sistema/Login-GMAIL/target/
/Sistema/Mobile-Edu/target/
/Sistema/servidor/target/
/Sistema/servidor-app/nbproject/private/
/Sistema/servidor-tcc/nbproject/private/
/Sistema/servidor-tcc/build/
/Sistema/servidor-tcc/target/
/Sistema/Servidor-App/nbproject/private/
/Sistema/Servidor-App/Server/target/
/Sistema/app-tcc/nbproject/private/
/Sistema/Server/target/
/Sistema/Servidor/target/
/Sistema/App-Entidades/target/
/Sistema/AppServidor/App-Servidor/target/