/* 
    Created on : 13/09/2015, 16:06:02
    Author     : Fatinha de Sousa
*/

.panel-body .btn:not(.btn-block) { 
    width:120px;
    margin-bottom:10px; 
}

.stylish-input-group .input-group-addon{
    background: white !important; 
    padding-top: 14px;
}

.stylish-input-group .form-control{
    border-right:0; 
    box-shadow:0 0 0; 
    border-color:#ccc;
}

.stylish-input-group button{
    border:0;
    background:transparent;
}

.panel-search{
    margin-bottom: 55px;
}