<ion-view view-title="Mobile-Edu - Login" ng-controller="turmaSelectCtrl">

	<div class="bar bar-header bar-positive has-header">
		  <h1 class="title">Turma de {{turma.nome}}</h1>
	</div>

	<ion-content style="margin-top: 8%">

		<h4 style="text-align: center;">Notas</h4>

		<div class="card" ng-repeat="n in notas">
		  <div class="item item-text-wrap">
		  	<p>{{n.titulo}}</p>
		  	<br/>
		  	{{n.introducao}}
		  </div>
		</div><br/>

		<a href="#/verNota">Ver Nota</a>

	</ion-content>


</ion-view>


