<ion-view view-title="Mobile-Edu - Login" ng-controller="turmasCtrl">

	<div class="bar bar-header bar-positive has-header">
		  <h1 class="title">Mobile-Edu</h1>
	</div>

	<ion-content style="margin-top: 20%">

		<h4 style="text-align: center;">Suas Turmas</h4>

		<div class="card" ng-repeat="t in turmasAluno">
		  <div class="item item-text-wrap">
		  	{{t.nome}}
		  	<br/>
		  	Professor: {{t.professor.nome}}
		  	<br/>
		  	{{t.descricao}}
		  	<br/>
		  	{{t.dataInicio}} - {{t.dataTerminio}}

		  	<a href="#/turmaHome">Ver Turma</a>
		  </div>
		</div>
	</ion-content>

	<ion-tabs class="tabs-positive tabs-icon-top">
		
		<ion-tab title="Inicio" icon-on="ion-ios-home" icon-off="ion-ios-home-outline" href="#/home">
		    <!-- Tab 1 content -->
		</ion-tab>

		<ion-tab title="Turmas" icon-on="ion-ios-filing" icon-off="ion-ios-filing-outline" href="#/turmas">
		    <!-- Tab 1 content -->
		</ion-tab>

		<ion-tab title="Grupo" icon-on="ion-ios-clock" icon-off="ion-ios-clock-outline" href="#/grupos">
		    <!-- Tab 2 content -->
		</ion-tab>

		<ion-tab title="Perfil" icon-on="ion-ios-gear" icon-off="ion-ios-gear-outline" href="#/configuracoes">
		    <!-- Tab 3 content -->
		</ion-tab>

	</ion-tabs>


</ion-view>


