<ion-view title="Mobile-Edu" ng-controller="alterarTopicoCtrl">

    <ion-header-bar class="bar-stable bar-assertive">
        <h1 class="title" style="text-align: center;">Alterar Topico</h1>
    </ion-header-bar>

    <ion-content padding="true" class="has-header">
          <div class="list">

            <label class="item item-input">
              <textarea ng-model="tempTopico.conteudo"></textarea>
            </label>

              <button class="button button-block button-positive" ng-click="alterarTopico()">
                Alterar
              </button>
            
          </div>
    </ion-content>

</ion-view>