<ion-view title="Mobile-Edu" ng-controller="alterarFotoCtrl">

    <ion-header-bar class="bar-stable bar-assertive">
        <h1 class="title" style="text-align: center;">Foto</h1>
    </ion-header-bar>

    <ion-content padding="true" class="has-header">

        <div class="list" style="text-align: center;">
          
          <div id="logo">
              <img src="data:image/jpeg;base64, {{alunoPerfilFoto.foto}}" class="foto" ng-show="fotoPerfil === undefined">
              <img src="data:image/jpeg;base64, {{fotoPerfil}}" class="foto" ng-show="fotoPerfil !== undefined">
          </div>
          
          <button class="button button-full button-assertive" ng-click="pegarFoto()" 
                  ng-show="fotoPerfil === undefined">
                  Escolher Foto
          </button>
          
          <button class="button button-full button-royal" ng-click="enviarFoto()" 
                  ng-show="fotoPerfil !== undefined">
                  Enviar Foto
          </button>
        
        </div>

    </ion-content>

</ion-view>