<ion-view title="" ng-controller="alterarComentarioCtrl">

    <ion-header-bar class="bar-stable bar-positive"></ion-header-bar>

    <ion-nav-bar class="bar-stable bar-positive">
      <ion-nav-back-button>Alterar Comentário</ion-nav-back-button>
    </ion-nav-bar>

    <ion-content padding="true" class="has-header">

          <div class="list">

            <label class="item item-input">
              <textarea ng-model="tempComentario.conteudo"></textarea>
            </label>

              <button class="button button-block button-positive" ng-click="alterarComent()">
                Alterar
              </button>
            
          </div>
        
    </ion-content>

</ion-view>