<ion-view title="" ng-controller="alterarTopicoCtrl">

    <ion-header-bar class="bar-stable bar-assertive"></ion-header-bar>

    <ion-nav-bar class="bar-stable bar-assertive">
      <ion-nav-back-button>Alterar Topico</ion-nav-back-button>
    </ion-nav-bar>

    <ion-content padding="true" class="has-header">
          <div class="list">

            <label class="item item-input">
              <textarea ng-model="tempTopico.conteudo"></textarea>
            </label>

              <button class="button button-block button-positive" ng-click="alterarTopico()">
                Alterar
              </button>
            
          </div>
    </ion-content>

</ion-view>