<ion-view title="Alterar Topico" ng-controller="alterarTopicoCtrl">

    <ion-content padding="true" class="has-header">
          <div class="list">

            <label class="item item-input">
              <textarea ng-model="tempTopico.conteudo" rows="5"></textarea>
            </label>

              <button class="button button-block button-positive-900" ng-click="alterarTopico()">
                Alterar
              </button>
            
          </div>
    </ion-content>

</ion-view>