<ion-view title="Alterar Comentário" ng-controller="alterarComentarioCtrl">

    <ion-content padding="true" class="has-header">

          <div class="list">

            <label class="item item-input">
              <textarea ng-model="tempComentario.conteudo" rows="5"></textarea>
            </label>

              <button class="button button-block button-positive-900" ng-click="alterarComent()">
                Alterar
              </button>
            
          </div>
        
    </ion-content>

</ion-view>