<ion-view title="" ng-controller="alunoDetalheGrupoCtrl">

    <ion-header-bar class="bar-stable bar-assertive"></ion-header-bar>

    <ion-nav-bar class="bar-stable bar-assertive">
      <ion-nav-back-button>Desempenho</ion-nav-back-button>
    </ion-nav-bar>

    <ion-content class="has-header" style="text-align: center;">

          <div id="logo">
              <img src="data:image/jpeg;base64, {{membroGrupo.foto}}" class="foto img-circle">
          </div>
        
          <h3>{{membroGrupo.alunoNome}} {{membroGrupo.alunoSobrenome}}</h3>        

          <div  style="text-align: center; color:red; margin-top: 5%">

              <h4>Pontuação Total: {{membroGrupo.pontuacao}}</h4>
              <h4 ng-if="membroGrupo.testes > 1">{{membroGrupo.testes}} testes respondidos de {{membroGrupo.testesGrupo}}</h4>
              <h4 ng-if="membroGrupo.testes == 1">{{membroGrupo.testes}} teste respondido de {{membroGrupo.testesGrupo}}</h4>
              <h4 ng-if="membroGrupo.testes == 0">{{membroGrupo.testes}} teste respondido de {{membroGrupo.testesGrupo}}</h4>
              <h4>Publicações Feitas: {{membroGrupo.publicacoes}}</h4>
              
          </div>

        <br/>
    </ion-content>
</ion-view>