<ion-view title="" ng-controller="alunosGrupoCtrl">

    <ion-header-bar class="bar-stable bar-positive"></ion-header-bar>

    <ion-nav-bar class="bar-stable bar-positive">
      <ion-nav-back-button>Membros</ion-nav-back-button>
    </ion-nav-bar>

    <ion-content class="has-header">

        <ion-list>
          <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="membro in membros" type="item-text-wrap" href="#/alunoDetalheGrupo/{{membro.login}}/{{grupoCod}}">
            <img ng-src="data:image/jpeg;base64, {{membro.foto}}">
            <h2>{{membro.nome}} {{membro.sobrenome}}</h2>
            <p>{{membro.login}}</p>
            <i class="icon ion-chevron-right icon-accessory"></i>
          </ion-item>
        </ion-list>

        <br/>
    </ion-content>
</ion-view>