<ion-view title="Alunos" ng-controller="turmaAlunosCtrl">

    <ion-content class="has-header"><br />

        <ion-list style="text-decoration: none">
          <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="al in alunosTurma" type="item-text-wrap" href="#/app/alunoDetalhe/{{al.login}}/{{turmaAluno}}">
            <img ng-src="data:image/jpeg;base64, {{al.foto}}">
            <h2>{{al.nome}} {{al.sobrenome}}</h2>
            <p>{{al.login}}</p><hr />
            <i class="icon ion-chevron-right icon-accessory"></i>
          </ion-item>
        </ion-list>

    </ion-content>
</ion-view>