<ion-view title="Desempenho" ng-controller="alunoDetalheCtrl">

    <ion-header-bar class="bar-stable bar-assertive">
        <h1 class="title" style="text-align: center;">Desempenho</h1>
    </ion-header-bar>

    <ion-content padding="true" class="has-header">
    	
        <div id="logo" style="text-align: left;">
        	<img src="data:image/jpeg;base64, {{alunoTurma.foto}}" class="foto img-circle">
        </div>
        
        <div style="margin-top: -30%;">
            <h4 style="margin-left: 25%">{{alunoTurma.nome}} {{alunoTurma.sobrenome}}</h4>
            
            <p style="margin-left: 25%">
            	Presenças:	<label style="color: red;">{{alunoTurma.presenca}}</label><br />
                Faltas: <label style="color: red;">{{alunoTurma.faltas}}</label>
            </p>
        </div>

        <div class="list">
            <a href="#/presencasAluno/{{turmaAlId}}/{{alunoId}}" 
                class="button button-block button-positive button-outline">Ver Histórico
            </a>
        </div>

    </ion-content>
</ion-view>