<ion-view title="Mobile-Edu" ng-controller="turmaAlunosCtrl">

    <ion-header-bar class="bar-stable bar-balanced">
        <h1 class="title" style="text-align: center;">Alunos</h1>
    </ion-header-bar>

    <ion-content class="has-header">
        
        <div class="list">

          <div ng-repeat="al in alunosTurma" class="item-avatar item">

                <img src="data:image/jpeg;base64, {{al.foto}}">
                
                <a href="#/alunoDetalhe/{{al.login}}">
                    <h2>{{al.login}}</h2>
                </a>
                
                <p style="font-size: 11px;">{{al.nome}} {{al.sobrenome}}</p>
            
          </div>

        </div>

        <br/>
    </ion-content>
</ion-view>