<ion-view title="Membros" ng-controller="alunosGrupoCtrl">

    <ion-content class="has-header">
        <br />
        <ion-list>
          <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="membro in membros" type="item-text-wrap" 
            href="#/app/alunoDetalheGrupo/{{membro.login}}/{{grupoCod}}">
            <img ng-src="data:image/jpeg;base64, {{membro.foto}}">
            <h2>{{membro.nome}} {{membro.sobrenome}}</h2>
            <p>{{membro.login}}</p>
            <i class="icon ion-chevron-right icon-accessory"></i>
            <hr />
          </ion-item>
        </ion-list>

        <br/>
    </ion-content>
</ion-view>