<ion-view title="Desempenho" ng-controller="alunoDetalheCtrl">

    <ion-header-bar class="bar-stable bar-assertive">
        <h1 class="title" style="text-align: center;">Desempenho</h1>
    </ion-header-bar>

    <ion-content padding="true" class="has-header"  style="text-align: center;">
    	
        <div id="logo">
        	<img src="data:image/jpeg;base64, {{alunoTurma.foto}}" class="foto">
        </div>
        
        <h3>{{alunoTurma.nome}} {{alunoTurma.sobrenome}}</h3>
           	
        <p>
        	{{alunoTurma.curso}}
        	<br />
			{{alunoTurma.instituicao}}
        </p>

        <p>
        	Presenças:	<label style="color: red; font-size: 3em">{{alunoTurma.presenca}}</label>
        </p>

        <p>
        	Faltas: <label style="color: red; font-size: 3em">{{alunoTurma.faltas}}</label>
        </p>

        <div class="list">
            <a href="#/presencasAluno/{{turmaAlId}}/{{alunoId}}" 
                class="button button-block button-positive button-outline">Ver Histórico
            </a>
        </div>

    </ion-content>
</ion-view>