<ion-view title="Desempenho" ng-controller="alunoDetalheGrupoCtrl">
    <ion-content class="has-header" style="text-align: center;">

          <div id="logo">
              <img src="data:image/jpeg;base64, {{membroGrupo.foto}}" class="foto img-circle">
          </div>
        
          <h4>{{membroGrupo.alunoNome}} {{membroGrupo.alunoSobrenome}}</h4> <hr/>       

          <div  style="text-align: center; color:red; margin-top: 5%; font-size: 0.8em">

              <h5>Pontuação Total: {{membroGrupo.pontuacao}}</h5>
              <h5 ng-if="membroGrupo.testes > 1">{{membroGrupo.testes}} testes respondidos de {{membroGrupo.testesGrupo}}</h5>
              <h5 ng-if="membroGrupo.testes == 1">{{membroGrupo.testes}} teste respondido de {{membroGrupo.testesGrupo}}</h5>
              <h5 ng-if="membroGrupo.testes == 0">{{membroGrupo.testes}} teste respondido de {{membroGrupo.testesGrupo}}</h5>
              <h5>Publicações Feitas: {{membroGrupo.publicacoes}}</h5>
              
          </div>

        <br/>
    </ion-content>
</ion-view>