<ion-view title="Arquivos Enviados" ng-controller="arquivosGrupoCtrl">

    <ion-content padding="true" class="has-header">

        <div class="list">

            <!--<input type="file" id="file" name="file" ng-model="file"/>-->

          <input type="file" fileread="arquivoURL"/><br />

          <label class="item item-input item-floating-label">
              <span class="input-label">Escreva algo..</span>
              <input type="text" placeholder="Escreva algo..." required="true" ng-model="topico.conteudo">
          </label> 

            <button class="button button-block button-positive-900" ng-click="enviar()">
              Enviar
            </button>

        </div>
        
        
        <div class="list card" ng-repeat="topico in arquivos">

          <div class="item item-avatar">
            <img src="data:image/jpeg;base64, {{topico.fotoUsuario}}">
            <h2>{{topico.nomeUsuario}} {{topico.sobrenomeUsuario}}</h2>
            <p style="font-size: 10px">Em {{topico.dataCriacao}}</p>
          </div>

          <div class="item item-body">
            <p style="text-align: justify;">
                {{topico.conteudo}}<br />
                {{topico.nome}}
            </p>

            <div class="button-bar">
              <a class="button">Download</a>
              <a class="button" ng-if="alunoArquivos == topico.loginUsuario">Remover</a>
            </div>

          </div>

        </div>

        <br/>
        
    </ion-content>

</ion-view>