<ion-view title="" ng-controller="arquivosGrupoCtrl">

    <ion-header-bar class="bar-stable bar-assertive"></ion-header-bar>

    <ion-nav-bar class="bar-stable bar-assertive">
      <ion-nav-back-button>Arquivos Enviados</ion-nav-back-button>
    </ion-nav-bar>

    <ion-content padding="true" class="has-header">

          <div class="list">

            <!--<input type="file" id="file" name="file" ng-model="file"/>-->

            <input type="file" fileread="arquivoURL"/><br />

            <label class="item item-input">
              <textarea placeholder="Comments" ng-model="arquivoURL"></textarea>
            </label>

              <button class="button button-block button-positive" ng-click="enviar()">
                Enviar
              </button>

          </div>

          <div class="button-bar">
              <a class="button" ng-click="uploadFile()">Upload</a>
              <a class="button" ng-click="">Download</a>
          </div>
        
        
        <div class="list card" ng-repeat="topico in arquivos">

          <div class="item item-avatar">
            <img src="data:image/jpeg;base64, {{topico.fotoUsuario}}">
            <h2>{{topico.nomeUsuario}} {{topico.sobrenomeUsuario}}</h2>
            <p style="font-size: 10px">Em {{topico.dataCriacao}}</p>
          </div>

          <div class="item item-body">
            <p style="text-align: justify;">
                {{topico.conteudo}}<br />
                {{topico.nome}}
            </p>

            <div class="button-bar">
              <a class="button">Download</a>
              <a class="button" ng-if="alunoArquivos == topico.loginUsuario">Remover</a>
            </div>

          </div>

        </div>

        <br/>
        
    </ion-content>

</ion-view>