<ion-view title="Criar Conta" ng-controller="loginCtrl">
    
    <ion-pane>

      <ion-content padding="true">
        <h4 class="border-top" style="text-align: center;">Criar Conta</h4>
        
        <div class="list">

                <label class="item item-input item-floating-label">
                    <span class="input-label">Nome</span>
                    <input type="text" placeholder="Nome" required="true" ng-model="aluno.nome">
                </label>

                <label class="item item-input item-floating-label">
                    <span class="input-label">Sobrenome</span>
                    <input type="text" placeholder="Sobrenome" required="true" ng-model="aluno.sobrenome">
                </label>

                <label class="item item-input item-floating-label">
                    <span class="input-label">Login</span>
                    <input type="text" placeholder="Login" required="true" ng-model="aluno.login">
                </label>

                <label class="item item-input item-floating-label">
                    <span class="input-label">Senha</span>
                    <input type="password" placeholder="**********" required="true" ng-model="aluno.senha">
                </label>
            
                <label class="item item-input item-floating-label">
                    <span class="input-label">E-mail</span>
                    <input type="text" placeholder="E-mail" required="true" ng-model="aluno.email">
                </label>
            
            <div class="spacer" style="height: 40px;"></div>
            
            <button class="button button-assertive button-block " ng-click="salvarAluno()">Cadastrar</button>
        </div>

      </ion-content>
    
    </ion-pane>
</ion-view>