<ion-view title="Comentários" ng-controller="comentariosCtrl">

    <ion-content padding="true" class="has-header">

        <div class="list">

            <label class="item item-input item-floating-label">
              <span class="input-label">Escreva algo..</span>
              <input type="text" placeholder="Comentar..." required="true" ng-model="comentario.conteudo">
            </label>         

            <button class="button button-positive-900 button-block " ng-click="comentar()">Comentar</button>

        </div>
        
        <div class="list card" ng-repeat="c in comentarios">

          <div class="item item-avatar">
            <img src="data:image/jpeg;base64, {{c.fotoUsuario}}">
            <h2>{{c.nomeUsuario}} {{c.sobrenomeUsuario}}</h2>
            <p style="font-size: 10px">Em {{c.dataComentario}}</p>
          </div>

          <div class="item item-body">
            <p style="text-align: justify; color: black;">
                {{c.conteudo}}
            </p>

            <div class="item tabs tabs-secondary tabs-icon-left">
                
                <a class="tab-item" data-ink-color="#336699" data-ink-opacity="0.5" ng-click="removerComentarios(c)"
                    ng-if="c.loginUsuario == alunoidLogin">
                    <i class="icon ion-trash-a"></i> Remover
                </a>

                <a class="tab-item" data-ink-color="#336699" data-ink-opacity="0.5"
                    href="#/app/alterarComentario/{{c.codigo}}" ng-if="c.loginUsuario == alunoidLogin">
                    <i class="icon ion-edit"></i> Alterar
                </a>
            </div>
          </div>

        </div>

        <br/>
        
    </ion-content>
</ion-view>