<ion-view title="Configurações" ng-controller="configuracoesInfoCtrl">

    <ion-content class="has-header" padding="true">

        <div class="list">
        
          <label class="item item-input item-floating-label">
              <span class="input-label">Nome</span>
              <input type="text" placeholder="Nome" required="true" ng-model="alunoPerfilInfo.nome">
          </label>

          <label class="item item-input item-floating-label">
              <span class="input-label">Sobrenome</span>
              <input type="text" placeholder="Sobrenome" required="true" ng-model="alunoPerfilInfo.sobrenome">
          </label>

          <label class="item item-input item-floating-label">
              <span class="input-label">Email</span>
              <input type="text" placeholder="Email" required="true" ng-model="alunoPerfilInfo.email">
          </label>

          <label class="item item-input item-floating-label">
              <span class="input-label">Login</span>
              <input type="text" placeholder="Login" required="true" ng-model="alunoPerfilInfo.login">
          </label>

          <label class="item item-input item-floating-label">
              <span class="input-label">Senha</span>
              <input type="text" placeholder="Senha" required="true" ng-model="alunoPerfilInfo.senha">
          </label>

          <label class="item item-input item-floating-label">
              <span class="input-label">Curso</span>
              <input type="text" placeholder="Curso" required="true" ng-model="alunoPerfilInfo.curso">
          </label>

          <label class="item item-input item-floating-label">
              <span class="input-label">Instituição</span>
              <input type="text" placeholder="Instituição" required="true" ng-model="alunoPerfilInfo.instituicao">
          </label>

          <label class="item item-input item-stacked-label">
            <span class="input-label">Descrição</span>
            <textarea type="text" placeholder="Descrição" ng-model="alunoPerfilInfo.descricao" rows="5"></textarea>
          </label>

          <button class="button button-block button-positive-900" ng-click="alterarPerfil()">
              Atualizar Informações
          </button>

        </div>
    </ion-content>

</ion-view>