<ion-view title="Meus Grupos" ng-controller="gruposCtrl">

    <ion-content padding="true" class="has-header">

        <div class="" ng-repeat="g in grupos">
              <div class="list card" style="background-color: #7E57C2; text-align: center; color: #FAFAFA">
                <h4 style="color: #FAFAFA">
                    Grupo {{g.grupo.nome}} 
                <h4/>
                
                <h6 style="font-size: 12px ;color: #FAFAFA">
                        Professor: {{g.grupo.professorGrupos.nome}} {{g.grupo.professorGrupos.sobrenome}}
                </h6>
                
                <label style="color: #FAFAFA; font-size: 14px">{{g.grupo.descricao}}</label>
                
                <a class="button button-block button-clear" href="#/app/homeGrupo/{{g.grupo.codigo}}/{{loginAlunoGrupo}}">
                    Ver Grupo
                </a>
            </div>
        </div>
        
        <div class="list">
            <button class="button button-block button-assertive" ng-click="paginabuscarGrupo()" style="margin-bottom: 7%">
              Buscar Grupo
            </button>
        </div>
        <br/>

    </ion-content>

</ion-view>