<ion-view title="Mobile-Edu" ng-controller="gruposCtrl">

    <ion-header-bar class="bar-stable bar-balanced">
        <h1 class="title" style="text-align: center;">Seus Grupos</h1>
    </ion-header-bar>

    <ion-content padding="true" class="has-header" style="margin-top: 10%;">

        <ion-list ng-repeat="g in grupos" style="text-align: center">
        
            <ion-item class="item-divider">
                {{g.grupo.nome}} 
                <p style="font-size: 11px">Professor: {{g.grupo.professorGrupos.nome}} {{g.grupo.professorGrupos.sobrenome}}</p>
                <p>{{g.grupo.descricao}}</p>
                <hr/>

                <a class="button button-clear button-positive" href="#/homeGrupo/{{g.grupo.codigo}}/{{loginAlunoGrupo}}">
                    Ver Grupo
                </a>

            </ion-item>

            <br/>
        </ion-list>

    </ion-content>
   
    <ion-tabs class="tabs-balanced tabs-icon-top">
        <ion-tab title="Home" icon="ion-ios-home" href="/home/{{loginAlunoGrupo}}"></ion-tab>

        <ion-tab title="Turmas" icon="ion-ios-compose" href="/turmas/{{loginAlunoGrupo}}"></ion-tab>

        <ion-tab title="Grupos" icon="ion-android-chat" href="/grupos/{{loginAlunoGrupo}}"></ion-tab>

        <ion-tab title="Perfil" icon="ion-ios-settings" href="/perfil/{{loginAlunoGrupo}}"></ion-tab>
    </ion-tabs>

</ion-view>