<ion-view title="" ng-controller="gruposCtrl">

    <ion-header-bar class="bar-stable bar-assertive"></ion-header-bar>

    <ion-nav-bar class="bar-stable bar-assertive">
      <ion-nav-back-button>Meus Grupos</ion-nav-back-button>
    </ion-nav-bar>

    <ion-content padding="true" class="has-header" style="margin-top: 10%;">

        <div ng-repeat="g in grupos" style="text-align: center">
          <div class="panel panel-success">
            <div class="panel-heading">
                <h4>
                    Grupo {{g.grupo.nome}} 
                    <p style="font-size: 12px">
                        Professor: {{g.grupo.professorGrupos.nome}} {{g.grupo.professorGrupos.sobrenome}}
                    </p>
                <h4/>
            </div>
            
            <div class="panel-body">
                <p>{{g.grupo.descricao}}</p>
            </div>
            
            <a class="button button-block button-stable" href="#/homeGrupo/{{g.grupo.codigo}}/{{loginAlunoGrupo}}">
                Ver Grupo
            </a>
            </div>
        </div><br />

        <a class="button button-block button-positive" href="#/pesquisarGrupo/{{loginAlunoGrupo}}" style="margin-bottom: 7%">
          Buscar Grupo
        </a><br/>

    </ion-content>
   
    <ion-tabs class="tabs-assertive tabs-icon-top">
        <ion-tab title="Home" icon="ion-ios-home" href="/home/{{loginAlunoGrupo}}"></ion-tab>

        <ion-tab title="Turmas" icon="ion-ios-compose" href="/turmas/{{loginAlunoGrupo}}"></ion-tab>

        <ion-tab title="Grupos" icon="ion-android-chat" href="/grupos/{{loginAlunoGrupo}}"></ion-tab>

        <ion-tab title="Perfil" icon="ion-ios-settings" href="/perfil/{{loginAlunoGrupo}}"></ion-tab>
    </ion-tabs>

</ion-view>