<ion-view title="Mobile-Edu" ng-controller="homeGrupoCtrl">

    <ion-header-bar class="bar-stable bar-balanced">
        <h1 class="title" style="text-align: center;">Grupo de {{grupo.nome}}</h1>
    </ion-header-bar>

    <ion-content padding="true" class="has-header" style="margin-top: 8%">

        <div class="bar bar-header item-input-inset" >
              <label class="item-input-wrapper" style="margin-bottom: 6px;">
                <i class="icon ion-chatbubble-working placeholder-icon"></i>
                <input type="search" placeholder="Escreva Algo" ng-model="topico.conteudo">
              </label>
              <button class="button button-positive button-clear icon ion-ios-paperplane" ng-click="publicar()" >
              </button>
        </div>

        <div class="list card" ng-repeat="t in topicos">

          <div class="item item-avatar">
            <img src="data:image/jpeg;base64, {{t.fotoUsuario}}">
            <h2>{{t.nomeUsuario}} {{t.sobrenomeUsuario}}</h2>
            <p style="font-size: 10px">Em {{t.dataCriacao}}</p>
          </div>

          <div class="item item-body">
            <p style="text-align: justify; color: black;">
                {{t.conteudo}}
            </p>

            <p>
              <a href="#/comentarios/{{t.codigo}}/{{usuarioAluno}}" class="subdued">Comentar</a>
              <a ng-click="removerTopico(t)" class="subdued">Remover</a>
              <a href="#" class="subdued">Alterar</a>
            </p>
          </div>

        </div>

        <br/>
        
    </ion-content>

       <ion-tabs class="tabs-balanced tabs-icon-top">
            <ion-tab title="Home" icon="ion-ios-home" href="/home/{{login}}"></ion-tab>

            <ion-tab title="Alunos" icon="ion-person-stalker" href="/alunosGrupo/{{grupoCodigo}}"></ion-tab>

            <ion-tab title="Arquivos" icon="ion-document" href="/arquivos/{{grupoCodigo}}"></ion-tab>

            <ion-tab title="Testes" icon="ion-ios-compose" href="/testesGrupo/{{grupoCodigo}}"></ion-tab>

            <ion-tab title="Resultads" icon="ion-ribbon-a" href="/testesResultados/{{grupoCodigo}}"></ion-tab>

            <ion-tab title="Info" icon="ion-ios-gear-outline" href="/infoGrupo/{{grupoCodigo}}"></ion-tab>
        </ion-tabs>

</ion-view>