<ion-view title="Inicio" ng-controller="alunoCtrl">

    <ion-content>

        <div class="bar bar-subheader bar-stable static text-center">
            <strong class="title">Horário de Hoje</strong>
        </div><br />

        <form  accept-charset="ISO-8859-1">
            
            <div ng-repeat="t in turmas" style="text-align: center;">
                <div class="list card stable-bg">
                    <h4>Turma de {{t.nome}}</h4>
                    <h6 style="font-size: 0.9em">Professor: {{t.professor.nome}}</h6>
                    <hr />

                    <div ng-repeat="h in t.horarios">
                        <label style="color: #E91E63; font-size: 1.5em">{{h.horarioInicial}} - {{h.horarioFinal}}<label>
                    </div><br />

                </div>
            </div>

        </form><br />

    </ion-content>


</ion-view>