<ion-view title="Grupo de {{grupo.nome}}" ng-controller="homeGrupoCtrl">
    
    <ion-nav-buttons side="right">
      <button class="button button-icon button-clear ion-android-more-vertical" id="menu-popover" ng-click="popoverGrupo.show($event)">
      </button>
    </ion-nav-buttons>

    <ion-content padding="true">

        <div class="list">

            <label class="item item-input item-floating-label">
              <span class="input-label">Escreva algo..</span>
              <input type="text" placeholder="Escreva algo..." required="true" ng-model="topico.conteudo">
            </label>         

            <button class="button button-positive-900 button-block " ng-click="publicar()">Publicar</button>

        </div>

        <div class="list card" ng-repeat="t in topicos">

          <div class="item item-avatar">
            <img src="data:image/jpeg;base64, {{t.fotoUsuario}}">
            <h2>{{t.nomeUsuario}} {{t.sobrenomeUsuario}}</h2>
            <p style="font-size: 10px">Em {{t.dataCriacao}}</p>
          </div>

          <div class="item item-body">
            <p style="text-align: justify; color: black;">
                {{t.conteudo}}
            </p>

            <div class="item tabs tabs-secondary tabs-icon-left">
                
                <a class="tab-item" data-ink-color="#336699" data-ink-opacity="0.5" ng-click="removerTopico(t)" 
                    ng-if="t.loginUsuario == usuarioAluno">
                    <i class="icon ion-trash-a"></i> Remover
                </a>

                <a class="tab-item" data-ink-color="#336699" data-ink-opacity="0.5" 
                    href="#/app/comentarios/{{t.codigo}}/{{usuarioAluno}}">
                    <i class="icon ion-chatbox"></i> Comentar
                </a>

                <a class="tab-item" data-ink-color="#336699" data-ink-opacity="0.5"
                    href="#/app/alterarTopico/{{t.codigo}}" ng-if="t.loginUsuario == usuarioAluno">
                    <i class="icon ion-edit"></i> Alterar
                </a>
            </div>

          </div>

        </div>

        <br/>
        
    </ion-content>

</ion-view>