<ion-view title="" ng-controller="alunoCtrl">

     <ion-header-bar class="bar-stable bar-assertive">
        <h1 class="title" style="text-align: center;">Mobile-Edu</h1>
    </ion-header-bar>

    <ion-content  class="has-header" padding="true" style="margin-top: 10%">

        <form  accept-charset="ISO-8859-1">
                
            <h4 style="text-align: center;">Horário de Hoje</h4>
            
            <div ng-repeat="t in turmas">
                <div style="text-align: center;">
                    <div class="panel panel-success">
                      <div class="panel-heading">
                        <h4>
                            {{t.nome}}
                            <p style="font-size: 11px">Professor: {{t.professor.nome}}</p>
                        </h4>
                       </div>
                    
                        <div class="panel-body">
                            <div class="" ng-repeat="h in t.horarios">
                                <div class="alert alert-info">
                                  <strong>{{h.horarioInicial}} - {{h.horarioFinal}}</strong>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </form>

    </ion-content>

	   <ion-tabs class="tabs-assertive tabs-icon-top">
	        <ion-tab title="Home" icon="ion-ios-home" href="/home/{{alunoSessao.login}}"></ion-tab>

	        <ion-tab title="Turmas" icon="ion-ios-compose" href="/turmas/{{alunoSessao.login}}"></ion-tab>

	        <ion-tab title="Grupos" icon="ion-android-chat" href="/grupos/{{alunoSessao.login}}"></ion-tab>

	        <ion-tab title="Perfil" icon="ion-ios-settings" href="/perfil/{{alunoSessao.login}}"></ion-tab>
	    </ion-tabs>
</ion-view>