<ion-view title="Horários" ng-controller="turmaHorarioCtrl">

    <ion-header-bar class="bar-stable bar-assertive">
        <h1 class="title" style="text-align: center;">Horários</h1>
    </ion-header-bar>

    <ion-content padding="true" class="has-header">

        <div class="panel-group">
            <div class="panel panel-default" ng-if="horariosSegunda.length > 0">
              <div class="panel-heading" style="text-align: center;"><h4>Segunda-Feira</h4></div>
              <div class="panel-body">
                  <div class="alert alert-success" ng-repeat="s in horariosSegunda" style="text-align: center">
                     {{s.horarioInicial}} - {{s.horarioFinal}}
                   </div>
              </div>
            </div>

            <div class="panel panel-primary" ng-if="horariosTerca.length > 0">
              <div class="panel-heading" style="text-align: center;"><h4>Terça-Feira</h4></div>
              <div class="panel-body">
                  <div class="alert alert-danger" ng-repeat="t in horariosTerca" style="text-align: center">
                     {{t.horarioInicial}} - {{t.horarioFinal}}
                   </div>
              </div>
            </div>

            <div class="panel panel-success" ng-if="horariosQuarta.length > 0">
              <div class="panel-heading" style="text-align: center;"><h4>Quarta-Feira</h4></div>
              <div class="panel-body">
                  <div class="alert alert-info" ng-repeat="q in horariosQuarta" style="text-align: center">
                     {{q.horarioInicial}} - {{q.horarioFinal}}
                   </div>
              </div>
            </div>  

            <div class="panel panel-danger" ng-if="horariosQuinta.length > 0">
              <div class="panel-heading" style="text-align: center;"><h4>Quinta-Feira</h4></div>
              <div class="panel-body">
                  <div class="alert alert-warning" ng-repeat="qi in horariosQuinta" style="text-align: center">
                     {{qi.horarioInicial}} - {{qi.horarioFinal}}
                   </div>
              </div>
            </div>  

            <div class="panel panel-warning" ng-if="horariosSexta.length > 0">
              <div class="panel-heading" style="text-align: center;"><h4>Sexta-Feira</h4></div>
              <div class="panel-body">
                  <div class="alert alert-success" ng-repeat="s in horariosSexta" style="text-align: center">
                     {{s.horarioInicial}} - {{s.horarioFinal}}
                   </div>
              </div>
            </div>            
        </div>
    </ion-content>
</ion-view>