<ion-view title="Mobile-Edu" ng-controller="infoGrupoCtrl">

    <ion-header-bar class="bar-stable bar-assertive">
        <h1 class="title" style="text-align: center;">Detalhes do Grupo</h1>
    </ion-header-bar>

    <ion-content padding="true" class="has-header" style="text-align: center;">

        <div class="list">

            <p>{{grupoSelecionado.descricao}}</p>
            <p>Criado em {{grupoSelecionado.data}} por {{grupoSelecionado.professorNome}} {{grupoSelecionado.professorSobrenome}}</p>
            <p>Quantidade de membros {{grupoSelecionado.membros}}</p>

            <button class="button button-block button-assertive">
              Sair do Grupo
            </button>
        
        </div>
        
    </ion-content>

</ion-view>