<ion-view title="Login" ng-controller="loginCtrl">
    
    <ion-pane>

      <ion-content padding="true" class="has-header" style="margin-top: 10%">
        
        <h4 class="border-top" style="text-align: center;">Login</h4>
        <div class="list">

            <label class="item item-input item-floating-label">
              <span class="input-label">Login</span>
              <input type="text" placeholder="Login" required="true" ng-model="aluno.login">
            </label>

            <label class="item item-input item-floating-label">
              <span class="input-label">Senha</span>
              <input type="password" placeholder="Senha" required="true" ng-model="aluno.senha">
            </label>          

            <button class="button button-positive button-block " ng-click="loginAl()">Entrar</button>

            <div class="button-bar">
              <a class="button button-balanced button-outline" href="#/cadastro">Criar Conta</a>
              <a class="button button-assertive button-outline" href="#/senha">Senha</a>
            </div>

        </div>
      </ion-content>    
    </ion-pane>
</ion-view>