<ion-side-menus enable-menu-with-back-views="false">
    
    <ion-side-menu-content>
        <ion-nav-bar class="bar-assertive-900">
            
            <ion-nav-back-button class="no-text">
            </ion-nav-back-button>
            
            <ion-nav-buttons side="left">
                <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
                </button>
            </ion-nav-buttons>
            
        </ion-nav-bar>
       
        <ion-nav-view name="menuContent"></ion-nav-view>
    </ion-side-menu-content>
    
    <ion-side-menu side="left" ng-controller="alunoCtrl">
        <ion-header-bar class="expanded dark-bg">
            <img src="data:image/jpeg;base64, {{alunoSessao.foto}}" class="avatar motion spin fade">
            <div class="menu-bottom">
                <h6 style="color: #FAFAFA">{{alunoSessao.nome}} {{alunoSessao.sobrenome}}</h6>
            </div>
        </ion-header-bar>

        <ion-content class="stable-bg has-expanded-header">
            <ion-list>
                <ion-item nav-clear menu-close href="#/app/turmas/{{alunoSessao.login}}">
                    Turmas
                </ion-item>
                <ion-item nav-clear menu-close href="#/app/grupos/{{alunoSessao.login}}">
                    Grupo
                </ion-item>
                <ion-item nav-clear menu-close href="#/app/perfil/{{alunoSessao.login}}">
                    Configurações
                </ion-item>
                <ion-item nav-clear menu-close ng-click="logout()">
                    Sair
                </ion-item>
            </ion-list>
        </ion-content>

    </ion-side-menu>
</ion-side-menus>
