<ion-view title="" ng-controller="turmaNotasCtrl">

    <ion-header-bar class="bar-stable bar-positive"></ion-header-bar>

    <ion-nav-bar class="bar-stable bar-positive">
      <ion-nav-back-button>Notas</ion-nav-back-button>
    </ion-nav-bar>

    <ion-content padding="true" class="has-header">

        <div class="card" ng-repeat="n in notas" style="margin-bottom: 5%; text-align: justify;">
          
          <div class="item item-text-wrap">
            <h2>
                {{n.titulo}}.<br />
                <p>(Por {{n.professor}})</p>
            </h2>
            <br/>
          </div>

          <div style="text-align: center;">
            <a href="#/verNota/{{n.id}}" class="button button-clear button-positive">Ver Nota</a>
          </div>
        </div>
        
        <br/>
        
    </ion-content>

</ion-view>