<ion-view title="Notas" ng-controller="turmaNotasCtrl">
    
    <ion-content padding="true" class="has-header">

        <div class="card" ng-repeat="n in notas" style="margin-bottom: 5%; text-align: justify; background-color: #009688">
          
          <div class="item item-text-wrap">
            <h2 style="color: #FAFAFA">
                {{n.titulo}}.<br />
                <p style="color: #FAFAFA">(Por {{n.professor}})</p>
            </h2>
            <br/>
          </div>

          <div style="text-align: center;">
            <a href="#/app/verNota/{{n.id}}" class="button button-clear button-positive" style="color: #FAFAFA">Ver Nota</a>
          </div>
        </div>
        
        <br/>
        
    </ion-content>

</ion-view>