<ion-view title="Mobile-Edu" ng-controller="turmaNotasCtrl">

    <ion-header-bar class="bar-stable bar-balanced">
        <h1 class="title" style="text-align: center;">Notas</h1>
    </ion-header-bar>

    <ion-content padding="true" class="has-header">

        <div class="card" ng-repeat="n in notas" style="margin-bottom: 5%; text-align: justify;">
          
          <div class="item item-text-wrap">
            <h2>{{n.titulo}}</h2>
            <br/>
            <p>{{n.introducao}}</p>
          </div>

          <div style="text-align: center;">
            <a href="#/verNota/{{n.id}}" class="button button-clear button-positive">Ver Nota</a>
          </div>
        </div>
        
        <br/>
        
    </ion-content>

</ion-view>