<ion-view title="{{turma.nome}}" ng-controller="turmaHomeCtrl">

    <ion-nav-buttons side="right">
      <button class="button button-icon button-clear ion-android-more-vertical" id="menu-popover" ng-click="popover.show($event)">
      </button>
    </ion-nav-buttons>

    <ion-content padding="true" class="has-header" style="margin-top: 8%">

        <div style="text-align: center;">
           <h5>{{turma.descricao}}</h5>
           <p>Professor {{turma.professor}}</p>
        </div>

        <div class="list card stable-bg">
          
          <h4 style="text-align: center;">Seu Horário Hoje</h4>
          <div ng-repeat="h in horarioDia" style="text-align: center">
              <label style="color: #9C27B0; font-size: 1em">{{h.horarioInicial}} - {{h.horarioFinal}}
          </div><br />

        </div>

    </ion-content>
</ion-view>