<ion-view title="" ng-controller="turmaHomeCtrl">

    <ion-header-bar class="bar-stable bar-positive"></ion-header-bar>

    <ion-nav-bar class="bar-stable bar-positive">
      <ion-nav-back-button>Turma de {{turma.nome}}</ion-nav-back-button>
    </ion-nav-bar>

    <ion-content padding="true" class="has-header" style="margin-top: 8%">

        <div class="well" style="text-align: center;">
           <label>{{turma.descricao}}</label>
           <p>Professor {{turma.professor}}</p>
        </div>

        <h4 style="text-align: center;">Seu Horário Hoje</h4>
        
        <div ng-repeat="h in horarioDia" style="text-align: center">
            <div class="alert alert-warning">
              <strong><label>{{h.horarioInicial}} - {{h.horarioFinal}}</label></strong>
            </div>
        </div>

        <br/>
        
    </ion-content>
   
	   <ion-tabs class="tabs-positive tabs-icon-top">
            <ion-tab title="Home" icon="ion-ios-paper" href="/pageTurma/{{turma.codigo}}"></ion-tab>

            <ion-tab title="Alunos" icon="ion-person-stalker" href="/alunosTurmas/{{turma.codigo}}"></ion-tab>

	        <ion-tab title="Notas" icon="ion-ios-bookmarks" href="/notasTurma/{{turma.codigo}}"></ion-tab>

	        <ion-tab title="Horários" icon="ion-ios-alarm-outline" href="/horariosTurma/{{turma.codigo}}"></ion-tab>
	    </ion-tabs>
</ion-view>