<ion-view title="Pesquisar Grupo" ng-controller="pesquisarGrupoCtrl">

    <ion-content padding="true" class="has-header">

        <div class="list">

            <label class="item item-input item-floating-label">
              <span class="input-label">Grupo</span>
              <input type="text" placeholder="Grupo" required="true" ng-model="grupo.nome">
            </label>

          <button class="button button-block button-stable" ng-click="buscarGrupo()">
              Buscar
          </button>
        </div>

        <div ng-repeat="grupo in gruposEncontrados" style="text-align: center" ng-if="gruposEncontrados.length > 0">
        
            <div class="card" style="background-color: #00BCD4">
                <h4 style="color: #FAFAFA">{{grupo.nome}}</h4> 
                <p style="font-size: 11px; color: #FAFAFA">
                  Professor: {{grupo.professorNome}} {{grupo.professorSobrenome}}
                </p>
                
                <p style="color: #FAFAFA">{{grupo.descricao}}</p>
                <hr/>

                <a class="button button-clear button-positive" href="#/app/solicitacaoGrupo/{{grupo.codigo}}/{{alunoGrupoBuscar}}" 
                    style="color: #FAFAFA" ng-if="grupo.status == false">
                    Ver Grupo
                </a>

                <p style="color: #FAFAFA" ng-if="grupo.status == true">
                    Você já é membro deste grupo
                </p>

            </div>

            <br/>
        </div>

        <h4 ng-if="gruposEncontrados.length == 0" style="text-align: center;">Nenhum resultado encontrado</h4>

    </ion-content>

</ion-view>