<ion-view title="Histórico" ng-controller="presencasAlunoCtrl">

    <ion-header-bar class="bar-stable bar-assertive">
        <h1 class="title" style="text-align: center;"></h1>
    </ion-header-bar>

    <ion-content padding="true" class="has-header" style="text-align: center;">
    	
        <ion-list ng-repeat="h in historico" style="text-align: center">
            <ion-item class="item-divider">
                
                {{h.horaAula}} - 
                {{h.dataPreseca}} - 
                <label ng-if="h.status == true">Presente</label>
                <label ng-if="h.status == false">Faltou</label>
                
            </ion-item>
        </ion-list>
        
    </ion-content>
</ion-view>