<ion-view title="" ng-controller="presencasAlunoCtrl">

    <ion-header-bar class="bar-stable bar-assertive"></ion-header-bar>

    <ion-nav-bar class="bar-stable bar-assertive">
      <ion-nav-back-button>Histórico</ion-nav-back-button>
    </ion-nav-bar>

    <ion-content padding="true" class="has-header" style="text-align: center;">
    	
        <div ng-repeat="h in historico" style="text-align: center">
                
                <div class="alert alert-warning">
                    {{h.horaAula}} - {{h.dataPreseca}} -
                    <label ng-if="h.status == true">Presente</label>
                    <label ng-if="h.status == false">Faltou</label>
                </div>
        </ion-list>
        
    </ion-content>
</ion-view>