<ion-view title="Histórico" ng-controller="presencasAlunoCtrl">

    <ion-content padding="true" style="text-align: center;"><br />
    	
        <div ng-repeat="h in historico" style="text-align: center">
                
                <div class="energized-900 bold energized-100-bg" style="text-align: center">
                    <br />
                    {{h.horaAula}} - {{h.dataPreseca}} <br />
                    <label ng-if="h.status == true">Presente</label>
                    <label ng-if="h.status == false">Faltou</label>
                    <br /><br />
                </div><hr/>
        </ion-list>
        
    </ion-content>
</ion-view>