<ion-view title="Mobile-Edu" ng-controller="resultadosCtrl">

    <ion-header-bar class="bar-stable bar-balanced">
        <h1 class="title" style="text-align: center;">Resultado Individual</h1>
    </ion-header-bar>

    <ion-content class="has-header">

      <p style="text-align: center;">Alunos que responderam esse teste</p>
      
      <div class="list">

          <a class="item item-thumbnail-left" href="#">
            <img src="cover.jpg">
            <h2>Pretty Hate Machine</h2>
            <p>Nine Inch Nails</p>
          </a>

      </div>
        
    </ion-content>

</ion-view>