<ion-view title="Resultado do Teste" ng-controller="resultadosCtrl">

    <ion-content class="has-header">

      <p style="text-align: center; margin-top: 4%">Alunos que responderam esse teste</p>
      
      <ion-list>
          <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="r in resultados" type="item-text-wrap">
            
            <img ng-src="data:image/jpeg;base64, {{r.fotoAluno}}">
            <h2>{{r.alunoNome}} {{r.alunoSobrenome}}</h2>
            <p>Pontuação {{r.nota}}</p>

            <hr />
          </ion-item>
        </ion-list>
    
    </ion-content>

</ion-view>