<ion-view title="Enviar Solicitação" ng-controller="solicitacaoGrupoCtrl">

    <ion-content padding="true" class="has-header">

        <div class="card" style="text-align: center; background-color: #4CAF50">
            <h2 style="color: #FAFAFA">{{grupoSelect.nome}}</h2> 
            <p style="font-size: 11px; color: #FAFAFA">Professor: {{grupoSelect.professorNome}} {{grupoSelect.professorSobremome}}</p>
            <p style="color: #FAFAFA">{{grupoSelect.descricao}}</p>
        </div>

            <br />

            <p ng-if="opcao.opcao == false" style="text-align: center; color: #FAFAFA">Para ver as publicações envie uma solicitação!</p>

            <button class="button button-block button-royal" ng-click="enviarSolicitacao()" ng-if="opcao.opcao == false">
                Enviar Solicitação
            </button>

            <p ng-if="opcao.opcao == true" style="text-align: center;">Solicitação enviada, Aguardando Confirmação!</p>
            <button class="button button-block button-assertive" ng-click="removerSolicitacao()" ng-if="opcao.opcao == true">
              Cancelar Solicitação
            </button>

    </ion-content>

</ion-view>