<ion-view title="Testes" ng-controller="testesGrupoGrupoCtrl">

    <ion-content padding="true" class="has-header">

      <div class="card" ng-repeat="teste in testes" style="text-align: center; background-color: #FAFAFA; padding-top: 3%">

           <h2 style="font-size: 1.3em">Teste {{teste.assunto}}</h2>
           
           <p style="font-size: 0.9em">Enviado por {{teste.nome}} {{teste.nomeProfessor}}<br />
            
            <label style="font-size: 0.7em">Entregar em {{teste.dataEntrega}}</label></p>
      
          <hr />
          <a href="#/app/verTeste/{{alCodigo}}/{{teste.codigo}}/{{grupoCodTestes}}" class="subdued">Visualizar Teste</a>
          <br /><br />
      </div>
      <br />  
    </ion-content>

</ion-view>