<ion-view title="Resultados" ng-controller="testesGrupoGrupoCtrl">

    <ion-content padding="true" class="has-header">

      <p style="text-align: center;">Selecione o teste para ver o resultado</p>
      
      <div class="card" ng-repeat="teste in testes" style="text-align: center; padding-top: 3%">
       
          <h2 style="font-size: 1.5em">{{teste.assunto}}</h2>
           
          Enviado por {{teste.nome}} {{teste.nomeProfessor}}

          <p style="font-size: 12px; color: red" ng-if="teste.qtdAlunos > 1">{{teste.qtdAlunos}} alunos responderam esse teste</p>
          <p style="font-size: 12px; color: red" ng-if="teste.qtdAlunos == 1">{{teste.qtdAlunos}} aluno respondeu esse teste</p>
          <p style="font-size: 12px; color: red" ng-if="teste.qtdAlunos == 0">Nenhum aluno respondeu esse teste</p>
        
          <hr/>
          <p>
            <a href="#/app/resultados/{{teste.codigo}}" class="subdued">Ver Resultado</a>
          </p>
      </div>
        
    </ion-content>

</ion-view>