<ion-view title="Resolução" ng-controller="testeResolvidoCtrl">

    <ion-content padding="true" class="has-header">

      	<div class="panel panel-default">
		  <div class="panel-body" style="text-align: center;">
		    <p>
		    	Teste: <span style="font-size: 1.1em">{{testeRespondido.assunto}}</span><br />
	      		<span style="font-size: 0.8em">
	      			Elaborado por {{testeRespondido.professorNome}}
	      			{{testeRespondido.professorSobrenome}}
	      		</span>
      		</p>
      	   </div>
		</div>

		<h4 style="text-align: center;">Solução</h4>

		<div ng-repeat="pergunta in perguntas" style="text-align: justify;">
			
			<div class="card" style="padding: 5%; background-color: #9C27B0; color: #FAFAFA">
				Pergunta: {{pergunta.enunciado}}
			</div>

			<div ng-repeat="resposta in pergunta.respostas">

				<div ng-if="resposta.respostaCerta == true" style="color: #FAFAFA">
				  <div class="card" style="padding: 5%; background-color: #FF9800"> 
				    {{resposta.conteudo}}
				  </div>
				</div>

				<div ng-if="resposta.respostaCerta == false">
				  <div class="card" style="padding: 5%; background-color: #FAFAFA; color: #000000">
				   {{resposta.conteudo}}
				  </div>
				</div>

			</div>
		</div>
        
    </ion-content>

</ion-view>