<ion-view title="" ng-controller="testesGrupoGrupoCtrl">

    <ion-header-bar class="bar-stable bar-assertive"></ion-header-bar>

    <ion-nav-bar class="bar-stable bar-assertive">
      <ion-nav-back-button>Resultados</ion-nav-back-button>
    </ion-nav-bar>

    <ion-content padding="true" class="has-header">

      <p style="text-align: center;">Selecione o teste para ver o resultado</p>
      
      <div class="card" ng-repeat="teste in testes" style="text-align: center;">
        <div class="item item-text-wrap">
           <h2 style="font-size: 1.5em">{{teste.assunto}}</h2>
           
           Enviado por {{teste.nome}} {{teste.nomeProfessor}}

           <p style="font-size: 12px; color: red" ng-if="teste.qtdAlunos > 1">{{teste.qtdAlunos}} alunos responderam esse teste</p>
           <p style="font-size: 12px; color: red" ng-if="teste.qtdAlunos == 1">{{teste.qtdAlunos}} aluno respondeu esse teste</p>
           <p style="font-size: 12px; color: red" ng-if="teste.qtdAlunos == 0">Nenhum aluno respondeu esse teste</p>
        </div>
        <div class="item item-divider">
          <p>
              <a href="#/resultados/{{teste.codigo}}" class="subdued">Ver Resultado</a>
          </p>
        </div>
      </div>
        
    </ion-content>

</ion-view>