<ion-view title="Suas Turmas" ng-controller="turmasCtrl">

    <ion-content class="has-header">

        <div ng-repeat="t in turmasAluno" style="text-align: center">

            <div class="card" style="background-color: #009688">
                
                <h4 style="color: #FAFAFA">Turma de {{t.nome}}</h4>
                <h6 style="font-size: 0.9em; color: #FAFAFA">Professor: {{t.professorNome}} {{t.professorSobrenome}}</h6>

                
                <p style="font-size: 0.9em; color: #FAFAFA">{{t.descricao}}<br />
                <strong >Duração</strong> <em>{{t.dataInicio}} - {{t.dataTerminio}}</em></p>

                <hr />
                <a class="button button-clear button-dark" href="#/app/pageTurma/{{t.codigo}}/{{login}}" style="color: #FAFAFA">
                    Ver Turma
                </a>
            </div>

        </div><br />
        
    </ion-content>

</ion-view>