<ion-view title="Suas Turmas" ng-controller="turmasCtrl">

    <ion-header-bar class="bar-stable bar-assertive">
        <h1 class="title" style="text-align: center;">Suas Turmas</h1>
    </ion-header-bar>

    <ion-content class="has-header" padding="true" style="margin-top: 15%">

        <div ng-repeat="t in turmasAluno" style="text-align: center">
          <div class="panel panel-success">
            <div class="panel-heading">
                <h4>Turma {{t.nome}} <p style="font-size: 12px">Professor: {{t.professorNome}} {{t.professorSobrenome}}</p><h4/>
            </div>
            
            <div class="panel-body">
                <p>{{t.descricao}}</p>
                <p><strong>Duração</strong> <em>{{t.dataInicio}} - {{t.dataTerminio}}</em></p>
            </div>
            
            <hr />
              <a class="button button-block button-stable" href="#/pageTurma/{{t.codigo}}/{{login}}">
                Ver Turma
              </a>
            </div>
        </div><br />
        
    </ion-content>

    <ion-tabs class="tabs-assertive tabs-icon-top">
        <ion-tab title="Home" icon="ion-ios-home" href="/home/{{login}}"></ion-tab>

        <ion-tab title="Turmas" icon="ion-ios-compose" href="/turmas/{{login}}"></ion-tab>

        <ion-tab title="Grupos" icon="ion-android-chat" href="/grupos/{{login}}"></ion-tab>

        <ion-tab title="Perfil" icon="ion-ios-settings" href="/perfil/{{login}}"></ion-tab>
    </ion-tabs>
</ion-view>