<ion-view title="" ng-controller="verNotasCtrl">

    <ion-header-bar class="bar-stable bar-assertive"></ion-header-bar>

    <ion-nav-bar class="bar-stable bar-assertive">
      <ion-nav-back-button>Nota</ion-nav-back-button>
    </ion-nav-bar>

    <ion-content padding="true" class="has-header">

        <div style="text-align: justify;">

          <div class="text-font">
            
            <h3>{{nota.titulo}}</h3>
            <p>Por {{nota.professor}}, <span style="font-size: 11px">{{nota.data}}</span></p>
            <br/>

            <p>
              {{nota.introducao}}
              {{nota.desenvolvimento}}
            </p>

          </div>

        </div>
        
    </ion-content>

</ion-view>