<ion-view title="Nota" ng-controller="verNotasCtrl">

    <ion-content padding="true" class="has-header">

        <div style="text-align: justify;">

          <div class="text-font">
            
            <h3>{{nota.titulo}}</h3>
            <p style="text-align: right;">Por {{nota.professor}}, <span style="font-size: 11px">{{nota.data}}</span></p>
            <br/>

            <p>
              {{nota.introducao}}
              {{nota.desenvolvimento}}
            </p>

          </div>

        </div>
        
    </ion-content>

</ion-view>