<ion-view title="Mobile-Edu" ng-controller="verNotasCtrl">

    <ion-header-bar class="bar-stable bar-balanced">
        <h1 class="title" style="text-align: center;">Nota</h1>
    </ion-header-bar>

    <ion-content padding="true" class="has-header">

        <div style="text-align: justify;" class="card">

          <div class="item item-text-wrap">
            
            <h3>{{nota.titulo}}</h3>
            <p>Por {{nota.professor}} - {{nota.data}}</p>
            <br/>
            <label>
              {{nota.introducao}}
              {{nota.desenvolvimento}}
            </label>

          </div>

        </div><br/><br/>
        
    </ion-content>

</ion-view>