<ion-view title="" ng-controller="verTesteCtrl">

    <ion-header-bar class="bar-stable bar-assertive"></ion-header-bar>

    <ion-nav-bar class="bar-stable bar-assertive">
      <ion-nav-back-button>Responder Teste</ion-nav-back-button>
    </ion-nav-bar>

    <ion-content padding="true" class="has-header">

      <div class="card" style="text-align: center;">
        <div class="item item-text-wrap">
           <h2 style="font-size: 1.0em">{{testeTemp.assunto}}</h2>
           
           <p style="font-size: 0.9em">Enviado por {{testeTemp.nome}} {{testeTemp.nomeProfessor}}</p>

           <p style="font-size: 0.7em">Entregar em {{testeTemp.dataEntrega}}</p>
        </div>
        <div class="item item-divider">
          <p>
              <label ng-if="testeTemp.disponivel == 1" style="color: red; font-size: 1em">Você ja respondeu este teste!</label>
              <label ng-if="testeTemp.disponivel == 2" style="color: red; font-size: 1em">Este teste estava disponivel ate o dia {{testeTemp.dataEntrega}}</label>
              <a href="#/responderTeste/{{alunoCod}}/{{testeCodigo}}/{{codigoGrupo}}" class="subdued" ng-if="testeTemp.disponivel == 0" style="color: red;; font-size: 1em">Responder Teste</a>
          </p>
        </div>
      </div>

      <a class="button button-block button-stable" href="#/testeResolvido/{{testeCodigo}}" 
          ng-if="testeTemp.disponivel == 1 || testeTemp.disponivel == 2" >
        Ver Solução
      </a>

    </ion-content>

</ion-view>