/* Empty. Add your own CSS if you like */
@import url(http://fonts.googleapis.com/css?family=Raleway);

body{
    font-family: "Raleway", sans-serif;
}

a{
	text-decoration: none;
}

h1, h2, h3, h4, h5, h6{
	font-family: "Raleway", sans-serif;
	color: green;
}

button{
	font-family: "Raleway", sans-serif;
}

p{
	font-family: "Raleway", sans-serif;
}

input{
	font-family: "Raleway", sans-serif;
}

label{
	font-family: "Raleway", sans-serif;
}

textarea{
	font-family: "Raleway", sans-serif;
}

.foto {
  height: 90px;
  width: 90px;
}

#logo {
  margin: 30px 0px;
}